@import "compass";

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#fff;}
#colorbox{outline:0;}
#cboxContent{margin:80px 70px 0;background:#fff;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #de4e51;}
#cboxLoadedContent{background:#fff;}
#cboxLoadedContent img{position:relative; max-width:800px; z-index:99;}
#cboxTitle{display:none !important;}
#cboxCurrent{position:absolute; top:60%; left:41%;}
#cboxLoadingGraphic{background:url('../images/preloader.gif') no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose{border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active{outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious, #cboxNext{position:absolute; top:50%; width:19px; height:86px; margin-top:-45px; background:url('../images/gallery_arrows.png') no-repeat transparent; text-indent:-9999px; opacity:.5; -khtml-opacity:.5; -moz-opacity:.5; filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
#cboxPrevious{left:-45px; background-position:left top;}
#cboxNext{right:-45px; background-position:right top;}
#cboxClose{position:absolute; top:-80px; right:0px; display:block; background:url('../images/interface.png') no-repeat -17px 0; width:44px; height:44px; text-indent:-9999px; opacity:.75; -khtml-opacity:.75; -moz-opacity:.75; filter:alpha(opacity=75); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover {opacity:1; -khtml-opacity:1; -moz-opacity:1; filter:alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}