@import "compass";

.contacts_wrap {
	.card{
		h2 {
			font-size: 21px !important;
			margin-bottom: 20px;
		}
	}
	.map_wrap {
		width: 960px;
		height: 472px;
		background: #eee;
		@include border-radius(5px);
		overflow: hidden;
	}
}