@import "compass";

ul {
	li {
		margin-bottom: .6em;
		line-height: 1.4em;
	}
	&.markered {
		padding-left: 30px;
		li {
			padding-left: 20px;
			background: url('../images/marker.gif') 0 10px no-repeat transparent;
		}
	}
}