@import "compass";

.footer {
	&.wrap {
		position: relative;
		width: 100%;
		min-width: 980px;
		height: 63px;
		margin-top: -63px;
		background: #adc90b;
		overflow: hidden;
	}
	&.inner {
		width: 960px;
		height: 60px;
		margin: 0 auto;
		color: #fff;
		font-size: 11px;
		font-family: 'PT Sans Narrow', sans-serif;
		text-transform: uppercase;
		p {
			margin: 0;
			line-height: 1.55em;
			&:first-child {
				padding-top: 15px;
			}
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}