@import "compass";

.ie7 {
	.header {
		margin-top: 0;
		padding-top: 80px;
	}
	.top_menu__wrap {
		z-index: 100;
		.first_lvl_menu {
			.first_lvl_menu__item {
				.container {
					height: 39px;
					margin-bottom: 1px;
				}
			}
		}
	}
	.main {
		position: relative;
		.about_block {
			position: relative;
			overflow: hidden;
		}
	}
	.slider_wrap {
		.s_lide {
			height: 465px;
		}
		.slider_title {
			width: 960px;
		}
	}
	.naidy_pager {
		li {
			&.prev{
				padding-bottom: 6px;
			}
			&.next {
				padding-bottom: 5px;
			}
		}
	}
}

.ie8 {
	.top_menu__wrap {
		padding-top: 40px;
		.second_lvl_menu {
			top: 80px;
		}
	}
}