@import "compass";

body.index {
	background: #adc90b;
	color: #00340e;
	h1, h2, h3, h4, a {
		color: #00340e;
	}
	.topPanel.wrap, .wrapper {
		z-index: 4;
	}
	.wrapper {
		padding-bottom: 110px;
	}
	.content {
		position: relative;
		height: 525px;
		.title_wrap {
			position: absolute;
			top: 20%;
			left: 0;
			width: 200px;
			.dev_title {
				display: inline;
				padding: 6px 10px;
				background: #fff;
				line-height: 1.6em;
				font-family: 'PT Sans Narrow', sans-serif;
				text-transform: uppercase;
				font-size: 28px;
				a {
					text-decoration: none !important;
				}
			}
		}
// galery
		.slide_control {
			position: absolute;
			left: 0;
			bottom: 30px;
			background: #fdfdfd;
			@include box-shadow(inset 0 0 10px rgba(0,0,0, .3), 0 1px 2px rgba(0,0,0, .3));
			.slide_wrapper {
				width: 560px;
				height: 80px;
				margin-top: -10px;
				padding-top: 10px;
				overflow: hidden;
				-webkit-transition: all .3s linear;
				-moz-transition: all .3s linear;
				-o-transition: all .3s linear;
				transition: all .3s linear;
			}
			.slide_list {
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				height: 80px;
				.slide_list__item {
					float: left;
					display: block;
					position: relative;
					width: 139px;
					height: 78px;
					margin: 0;
					padding: 0;
					line-height: 1.2em;
					border-top: 1px solid #dcdcdc;
					border-bottom: 1px solid #dcdcdc;
					border-right: 1px solid #d7d7d7;
					-webkit-transition: all .3s linear;
					-moz-transition: all .3s linear;
					-o-transition: all .3s linear;
					transition: all .3s linear;
					&.active {
						&:after {
							display: block;
							position: absolute;
							width: 16px;
							height: 10px;
							top: -9px;
							left: 50%;
							margin-left: -8px;
							background: url('../images/interface.png') 0 -13px no-repeat transparent;
							content: "";
						}
						.container {
							height: 80px;
							margin: -1px 0;
							background: #8fb205 !important;
							background: -moz-linear-gradient(top,  #8fb205 0%, #c1d71a 100%) !important;
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fb205), color-stop(100%,#c1d71a)) !important;
							background: -webkit-linear-gradient(top,  #8fb205 0%,#c1d71a 100%) !important;
							background: -o-linear-gradient(top,  #8fb205 0%,#c1d71a 100%) !important;
							background: -ms-linear-gradient(top,  #8fb205 0%,#c1d71a 100%);
							background: linear-gradient(to bottom,  #8fb205 0%,#c1d71a 100%) !important;
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fb205', endColorstr='#c1d71a',GradientType=0 ) !important;
							border-right: 1px solid #8aa606;
							@include box-shadow(inset 0 0 5px rgba(0,0,0, .2) !important);
							a {
								cursor: default;
							}
						}
					}
					.container {
						display: block;
						height: 78px;
						background: #fdfdfd;
						background: -moz-linear-gradient(top,  #fdfdfd 0%, #d8d8d8 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#d8d8d8));
						background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d8d8d8 100%);
						background: -o-linear-gradient(top,  #fdfdfd 0%,#d8d8d8 100%);
						background: -ms-linear-gradient(top,  #fdfdfd 0%,#d8d8d8 100%);
						background: linear-gradient(to bottom,  #fdfdfd 0%,#d8d8d8 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d8d8d8',GradientType=0 );
						&:hover {
							background: #d8d8d8;
							background: -moz-linear-gradient(top,  #d8d8d8 0%, #fdfdfd 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#fdfdfd));
							background: -webkit-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
							background: -o-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
							background: -ms-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
							background: linear-gradient(to bottom,  #d8d8d8 0%,#fdfdfd 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#fdfdfd',GradientType=0 );
							@include box-shadow(inset 0 0 20px rgba(0,0,0, .2));							
						}
						a {
							display: block;
							width: 119px;
							height: 65px;
							padding-top: 14px;
							padding-left: 20px;
							font-family: 'PT Sans Narrow', sans-serif;
							text-transform: uppercase;
							text-decoration: none;
						}
					}
				}
			}
			.slide_btn {
				position: absolute;
				top: 0;
				height: 80px;
				cursor: pointer;
				-webkit-transition: all .3s linear;
				-moz-transition: all .3s linear;
				-o-transition: all .3s linear;
				transition: all .3s linear;
				&.inactive {
					cursor: default;
				}
				&.left {
					left: -30px;
					width: 30px;
					background: #b6cf12;
					background: -moz-linear-gradient(top,  #b6cf12 0%, #9fbe08 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6cf12), color-stop(100%,#9fbe08));
					background: -webkit-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: -o-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: -ms-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: linear-gradient(to bottom,  #b6cf12 0%,#9fbe08 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6cf12', endColorstr='#9fbe08',GradientType=0 );
					@include border-radius(5px 0 0 5px);
					@include box-shadow(0 1px 2px rgba(0,0,0, .2));
					.ico {
						left: 43%;
					}
				}
				&.right {
					right: -45px;
					width: 45px;
					background: #b6cf12;
					@include box-shadow(0 1px 2px rgba(0,0,0, .2));
					.ico {
						left: 37%;
						background-position: right 0;
					}
				}
				.ico {
					display: block;
					position: absolute;
					top: 50%;
					width: 9px;
					height: 33px;
					margin-top: -16px;
					background: url('../images/gallery_arrows.png') left 0 no-repeat transparent;
				}
			}
			&.rounded {
				.slide_btn.right {
					right: -30px;
					width: 30px;
					background: #b6cf12;
					background: -moz-linear-gradient(top,  #b6cf12 0%, #9fbe08 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6cf12), color-stop(100%,#9fbe08));
					background: -webkit-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: -o-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: -ms-linear-gradient(top,  #b6cf12 0%,#9fbe08 100%);
					background: linear-gradient(to bottom,  #b6cf12 0%,#9fbe08 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6cf12', endColorstr='#9fbe08',GradientType=0 );
					@include border-radius(0 5px 5px 0);
					@include box-shadow(0 1px 2px rgba(0,0,0, .2));
					.ico {
						left: 35%;
					}
				}
			}
		}
		.about_dev_project {
			position: absolute;
			right: 0;
			bottom: -50px;
			width: 360px;
			background: #b6cf12;
			@include border-radius(5px);
			@include box-shadow(-4px -4px 14px rgba(0,0,0, .2));
			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 18px;
				height: 18px;
				background: url('../images/interface.png') -34px 0 no-repeat transparent;
				text-indent: 100px;
				overflow: hidden;
				cursor: pointer;
				z-index: 30;
				&:hover {
					background-position: -53px 0;
				}
			}
			.about_dev_text {
				position: relative;
				top: -5px;
				left: 5px;
				padding: 20px 30px 30px;
				background: #fff;
				@include border-radius(5px);
				h3 {
					margin: 0.4em 0 -0.1em;
					font-size: 34px;
				}
			}
		}
	}
	.news_content {
		width: 960px;
		margin: 0 auto;
		h1 {
			@include inline-block();
			padding-bottom: 2px;
			line-height: 1em;
			font-size: 34px;
			border-bottom: 1px solid #799c0c;
		}
		.news_item {
			float: left;
			width: 270px;
			margin-left: 75px;
			&:first-child {
				margin-left: 0;
			}
			p {
				margin: 0;
			}
			time {
				display: block;
				margin-top: 14px;
				color: #fff;
				font-size: 11px;
			}
		}
	}
	.footer {
		&.wrap {
			background: #fff;
		}
		&.inner {
			color: #00340e;
		}
	}
	.index_slider_wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 720px;
		background: #eee;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.title_wrap {
		position: absolute;
		top: 40%;
		width: 300px !important;
		.dev_title {
			display: block !important;
			padding: 0 !important;
			background: transparent !important;
			line-height: 1.5em !important;
			span {
				display: inline-block;
				position: relative;
				margin-right: -10px;
				padding: 0 10px;
				background: #fff;
			}
		}
	}
}