@import "compass";

.body_wrapper {
	position: relative;
	width: 100%;
	@include min-width(990px);
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0 15px 110px;
}
body.inner {
	&.two_sides {
		.content {
			float: left;
			width: 800px;
			padding-top: 6px;
		}
		.sidebar {
			width: 160px;
		}
	}
	&.three_sides {
		.content {
			float: left;
			width: 570px;
			padding-top: 4px;
		}
		.sidebar {
			width: 160px;
		}
	}
}
.content {
	position: relative;
	padding-top: 5px;
	/*overflow: hidden;*/
}