@import "compass";

.topPanel {
	position: relative;
	margin-bottom: -49px;
	&.wrap {
		width: 100%;
		background: #004d73;
		overflow: hidden;
	}
	&.inner {
		width: 960px;
		height: 17px;
		margin: 0 auto;
		padding: 11px 0 16px;
		a {
			position: relative;
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			.ico {
				position: absolute;
				top: 1px;
				right: -26px;
	 			@include inline-block();
	 			vertical-align: bottom;
	 			width: 16px;
	 			height: 16px;
	 			margin-left: 8px;
	 			background: url('../images/interface.png') -17px 0 no-repeat transparent;
	 		}
		}
	}
	.borderBottom {
		@include box-shadow(rgba(0,0,0, 0.6) 0 0 25px);
		width: 100%;
		height: 5px;
		background: #adc90b;
	}
}
h1 {
	&.link_box {
		position: relative;
		@include inline-block();
		margin-bottom: 18px;
		padding: 9px 0 6px;
		letter-spacing: 0.04em;
		border-bottom: 3px solid;
		&:hover {
			background: #adc90b;
		}
		&:hover {
			left: -10px;
		padding: 9px 10px 6px;
			a {
				color: #fff;
			}
		}
	}
}

ul.tree {
	margin-left: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	> li {
		font-size: 24px;
		line-height: 32px;
		> ul {
			margin-left: 30px;
			li {
				padding-left: 20px;
				background: url("../images/marker.gif") 0 14px no-repeat transparent;
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}

.head {
	position: relative;
	height: 135px;
	margin-bottom: 45px;
	background-position: right top;
	background-color: #adc90b;
	background-repeat: no-repeat;
	@include border-radius(7px);
	overflow: hidden;
	.title_block {
		position: relative;
		top: -30px;
		width: 330px;
		height: 110px;
		padding: 75px 0 0 30px;
		background: #adc90b;
		@include box-shadow(20px 0 40px rgba(0, 0, 0, 0.5));
		z-index: 3;
		&:after {
			display: block;
			position: absolute;
			top: 48%;
			right: -10px;
			width: 20px;
			height: 20px;
			background: #ADC90B;
			content: "";
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		h1 {
			display: block;
			margin: 0;
			font-size: 40px !important;
			color: #00340e;
			letter-spacing: 0.05em;
		}
	}
	.breadcrumbs {
		display: block;
		position: relative;
		margin: -5px 0 0;
		padding: 0;
		color: #00340e;
		font-size: 10px;
		a {
			color: #00340e;
		}
		li {
			margin: 0;
			padding: 0;
			line-height: 1.1em;
			@include inline-block();
			&.active {
				a {
					text-decoration: none;
					cursor: default;
				}
			}
		}
	}
	img {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.hist_container {
	margin-bottom: 45px;
	.hist_img {
		width: 320px;
		height: 170px;
		background: #adc90b;
		@include border-radius(5px);
		.img {
			position: relative;
			top: -5px;
			left: 5px;
			width: 320px;
			height: 170px;
			overflow: hidden;
			@include border-radius(5px);
			img {
				@include border-radius(5px);
			}
		}
	}
	.text {
		margin-top: 12px;
		padding: 0 30px;
		line-height: 14px;
		font-size: 11px;
	}
}

body.inner {
	.job_item {
		margin-top: 53px;
		&:first-child {
			margin-top: 0;
		}
		b, p {
			margin-left: 79px;
		}
		b {
			display: block;
			margin-bottom: 10px;
		}
		ul {
			margin: 0 0 22px 79px;
			li {
				margin: 0;
				padding-left: 17px;
				background: url("../images/marker.gif") 0 10px no-repeat transparent;
				line-height: 20px;
			}
		}
	}
	.content {
		.hist_left {
			margin-right: 410px;
		}
		.hist_right {
			width: 325px;
		}
	}
}