@import "compass";

.top_menu {
	float: right;
	position: relative;
	@include border-radius(5px);
	a {
		display: block;
		color: #373737;
		text-transform: uppercase;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 15px;
		text-decoration: none;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;
			display: block;
			margin: 0;
			line-height: 1.2em;
		}
	}
	.first_lvl_menu {
		height: 41px;
		background: #fff;
		@include border-radius(4px);
		ul {
			margin: 0;
			padding: 0;
			li {
				line-height: 1.1em;
				&:first-child {
					.first_lvl_menu__item {
						padding-left: 1px;
						@include border-radius(4px 0 0 4px);
						&:hover {
							.container {
								@include border-radius(4px 0 0 4px);
							}
						}
						.container {
							@include border-radius(3px 0 0 3px);
						}
					}
				}
			}
		}
		.first_lvl_menu__item {
			display: block;
			padding: 1px 1px 1px 0;
			text-align: center;
			background: rgb(211,211,211);
			background: -moz-linear-gradient(top,  rgba(211,211,211,1) 79%, rgba(148,148,148,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(79%,rgba(211,211,211,1)), color-stop(100%,rgba(148,148,148,1)));
			background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 79%,rgba(148,148,148,1) 100%);
			background: -o-linear-gradient(top,  rgba(211,211,211,1) 79%,rgba(148,148,148,1) 100%);
			background: -ms-linear-gradient(top,  rgba(211,211,211,1) 79%,rgba(148,148,148,1) 100%);
			background: linear-gradient(to bottom,  rgba(211,211,211,1) 79%,rgba(148,148,148,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#949494',GradientType=0 );
			&:hover {
				
			}
			&:hover .container {
				background: #d8d8d8;
				background: -moz-linear-gradient(top,  #d8d8d8 0%, #fdfdfd 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#fdfdfd));
				background: -webkit-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
				background: -o-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
				background: -ms-linear-gradient(top,  #d8d8d8 0%,#fdfdfd 100%);
				background: linear-gradient(to bottom,  #d8d8d8 0%,#fdfdfd 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#fdfdfd',GradientType=0 );
			}
			&.active, &.active .container {
				background: #8eb105;
				background: -moz-linear-gradient(top,  #8eb105 0%, #c1d71a 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb105), color-stop(100%,#c1d71a));
				background: -webkit-linear-gradient(top,  #8eb105 0%,#c1d71a 100%);
				background: -o-linear-gradient(top,  #8eb105 0%,#c1d71a 100%);
				background: -ms-linear-gradient(top,  #8eb105 0%,#c1d71a 100%);
				background: linear-gradient(to bottom,  #8eb105 0%,#c1d71a 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb105', endColorstr='#c1d71a',GradientType=0 );
				@include box-shadow(rgba(0,0,0,.2) 0 2px 8px inset);
			}
			.container {
				display: block;
				height: 39px;
				background-color: #fefefe;
				@include filter-gradient(#fefefe, #d3d3d3, vertical);
				@include background-image(linear-gradient(top, #fefefe 0%,#d3d3d3 100%));
				> a {
					padding: 13px 23px 11px;
				}
			}
			&:hover .second_lvl_menu {
				display: block;
			}
		}
	}
	.first_lvl_menu .first_lvl_menu__item.last,
	.first_lvl_menu li:last-child .first_lvl_menu__item {
		@include border-radius(0 4px 4px 0);
		&:hover {
			.container {
				@include border-radius(0 4px 4px 0);
			}
		}
		.container {
			@include border-radius(0 3px 3px 0);
		}
	}
	.second_lvl_menu {
		float: right;
		position: relative;
		margin: 20px 0 30px;
		.second_lvl_menu__item {
			margin-left: 6px;
			padding: 1px;
			@include border-radius(4px);
			overflow: hidden;
			&:hover, &.active {
				background: #607803;
				background: -moz-linear-gradient(top,  #607803 0%, #85a205 13%, #ccdb54 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#607803), color-stop(13%,#85a205), color-stop(100%,#ccdb54));
				background: -webkit-linear-gradient(top,  #607803 0%,#85a205 13%,#ccdb54 100%);
				background: -o-linear-gradient(top,  #607803 0%,#85a205 13%,#ccdb54 100%);
				background: -ms-linear-gradient(top,  #607803 0%,#85a205 13%,#ccdb54 100%);
				background: linear-gradient(to bottom,  #607803 0%,#85a205 13%,#ccdb54 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607803', endColorstr='#ccdb54',GradientType=0 );
				a {
					background: #85a205;
					background: -moz-linear-gradient(top,  #85a205 0%, #ccdb54 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85a205), color-stop(100%,#ccdb54));
					background: -webkit-linear-gradient(top,  #85a205 0%,#ccdb54 100%);
					background: -o-linear-gradient(top,  #85a205 0%,#ccdb54 100%);
					background: -ms-linear-gradient(top,  #85a205 0%,#ccdb54 100%);
					background: linear-gradient(to bottom,  #85a205 0%,#ccdb54 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85a205', endColorstr='#ccdb54',GradientType=0 );
					@include box-shadow(inset 0 2px 1px #7e9e04)
				}
			}
			a {
				display: block;
				padding: 9px 13px 8px;
				@include border-radius(3px);
			}
		}
	}
}