@import "compass";

.news_wrap {
	position: relative;
	width: 650px;
	.news-detail-share {
		position: absolute;
		top: 20px;
		right: 0;
	}
	.news_item {
		overflow: hidden;
		margin-bottom: 60px;
		padding-top: 5px;
		.news_image {
			float: left;
			position: relative;
			width: 100px;
			height: 100px;
			background: #adc90b;
			@include border-radius(5px);
			.img {
				position: relative;
				top: -5px;
				left: 5px;
				width: 100px;
				height: 100px;
				@include border-radius(5px);
				overflow: hidden;
				img {
					@include border-radius(5px);
				}
			}
		}
		time {
			display: block;
			font-size: 11px;
			margin: 0;
		}
		.news_body {
			margin-left: 160px;
		}
		.news_title {
			font-size: 21px;
			margin: 0;
			line-height: 1em;
		}
		.preview_image {
			float: right;
			margin: 7px 0 20px 20px;
			@include border-radius(5px);
		}
		p {
			margin: 1em 0;
		}
	}
}