@import "compass";

.naidy_pager {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	color: #fff;
	ul {
		margin: 0;
		padding: 0;
		li {
			@include inline-block();
			padding: 5px 8px;
			line-height: 1.1em;
			&.active {
				background: #adc90b;
				a, span {
					color: #fff;
				}
			}
			&.next, &.prev {
				padding: 0;
				a {
					display: block;
					width: 7px;
					height: 12px;
					background: url('../images/interface.png') no-repeat transparent;
					text-indent: 100px;
					overflow: hidden;
				}
			}
			&.next {
				padding-left: 11px;
				a {
					background-position: -8px 0;
				}
			}
			&.prev {
				padding-right: 11px;
				a {
					background-position: 0 0;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}