@import "compass";

.personal_cards {
	&.people {
		width: 100%;
		.profile {
			margin-top: 40px;
			overflow: hidden;
			&:first-child {
				margin-top: 0;
			}
			.profile_image {
				width: 160px;
				height: 160px;
				@include border-radius(5px);
				overflow: hidden;
				img {
					width: 160px;
					height: 160px;
					@include border-radius(5px);
				}
			}
			.profile_content {
				margin-left: 209px;
				padding-top: 17px;
				.profa {
					margin: 6px 0;
					font-size: 12px;
				}
				.info {
					margin-top: 14px;
					p {
						margin-top: 0;
						line-height: 20px;
					}
				}
				h2 {
					margin: 0;
					line-height: 1em;
				}
			}
		}
	}
}
.contacts_wrap {
	.profile {
		&:first-child {
			margin-top: 40px !important;
		}
		.more_info {
			display: block;
			margin-bottom: 7px;
			line-height: 1em;
			font-size: 12px;
		}
	}
}