@import "compass";

.status {
	position: absolute;
	padding-left: 30px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	&.inprogress {
		.ico {
			background: url('../images/status.png') no-repeat transparent;
		}
	}
	.ico {
		display: block;
		position: absolute;
		left: 0;
		width: 24px;
		height: 24px;
		background: url('../images/status.png') no-repeat transparent;
	}
}

.projects_wrap {
	width: 1018px;
	.project_item {
		float: left;
		position: relative;
		width: 450px;
		margin: 0 59px 50px 0;
		padding-top: 5px;
		overflow: hidden;
		.project_img {
			float: left;
			position: relative;
			width: 210px;
			height: 140px;
			background: #adc90b;
			@include border-radius(5px);
			.img {
				position: relative;
				top: -5px;
				left: 5px;
				width: 210px;
				height: 140px;
				@include border-radius(5px);
				overflow: hidden;
				img {
					@include border-radius(5px);
				}
			}
		}
		.project_body {
			margin-left: 235px;
			h2 {
				margin: 0;
				padding-top: 1.1em;
				line-height: 1.1em;
				font-size: 18px;
			}
			.status {
				bottom: 0;
				&.inprogress {
					.ico {
						background-position: right top;
					}
				}
				.ico {
					background-position: left top;
				}
			}
		}
	}
}
.project_wrap {
	> h1 {
		display: block;
		margin-top: 0;
	}
	.project_left {
		width: 480px;
		margin-bottom: 40px;
	}
	.project_right {
		margin-left: 530px;
		margin-bottom: 40px;
	}
	.project_text {
		width: 100%;
		overflow: hidden;
		img {
			margin: 0 40px 20px 0;
			@include border-radius(5px);
		}
		h1 {
			margin: 0 0 .6em;
		}
		h2 {
			margin: 0 0 .5em;
		}
		p {
			margin-top: .5em;
		}
		a {
			color: #00340e;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				padding: 0;
			}
		}
	}
}
.project_gallery {
	#loader {
		position: absolute;
		top: 44%;
		left: 46.5%;
		width: 30px;
		height: 30px;
		background: url('../images/loader.gif') center center no-repeat transparent;
		text-indent: 100px;
		@include border-radius(50px);
		@include box-shadow(0 0 7px rgba(0,0,0, .2));
		overflow: hidden;
		z-index: 20;
	}
	.big_img {
		position: relative;
		left: -5px;
		width: 480px;
		height: 300px;
		background: #adc90b;
		@include border-radius(5px);
		.img {
			position: relative;
			top: -5px;
			left: 5px;
			width: 480px;
			height: 300px;
			@include border-radius(5px);
			overflow: hidden;
			background: #eee;
			.status {
				bottom: 30px;
				right: 0;
				width: 70px;
				height: 32px;
				padding: 8px 0 0 40px;
				background: #adc90b;
				@include border-radius(5px 0 0 5px);
				@include box-shadow(inset -3px 0 10px rgba(0,0,0, .1));
				&.inprogress {
					.ico {
						background-position: right bottom;
					}
				}
				.ico {
					left: 8px;
					background-position: left bottom;
				}
			}
		}
	}
	.thumbs {
		position: relative;
		left: -3px;
		width: 492px;
		margin: 25px 0 0;
		padding: 0;
		.thumbs_item {
			float: left;
			position: relative;
			display: block;
			width: 110px;
			height: 70px;
			margin: 0 13px 13px 0;
			padding: 0;
			background: #adc90b;
			@include border-radius(3px);
			.img {
				display: block;
				position: relative;
				top: -3px;
				left: 3px;
				width: 110px;
				height: 70px;
				background: #ddd;
				@include border-radius(3px);
				overflow: hidden;
				img {
					width: 100%;
					@include border-radius(3px); 
				}
			}
		}
	}
}