@import "compass";

.smi_wrap {
	margin-bottom: 56px;
	.item {
		margin-top: 47px;
		&:first-child {
			margin-top: 0;
		}
		.topic_title {
			width: 210px;
			margin-top: 33px;
			time {
				display: block;
				margin-top: 8px;
				font-size: 11px;
			}
		}
		.topic {
			margin-right: 240px;
			padding-right: 60px;
			border-right: 1px dotted #c1c1c1;
			h2 {
				margin-bottom: 12px;
			}
		}
	}
}