@import "compass/reset";
@import "normalize";

html {
	height: 100%;
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #373737;
}

h1, h2, h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	color: #88a000;
}
b {
	font-weight: bold;
}

body.index h1 {
	font-size: 25px;
}
body.inner {
	h1, h2 {
		margin-bottom: 31px;
		letter-spacing: 0.067em;
	}
	h1 {
		font-size: 30px;		
	}
	h2 {
		font-size: 21px;
		margin-bottom: 15px;
	}
}
h1 a, h2 a, h3 a {
 	color: #88a000;
 	text-decoration: none;
 }

a, a:hover {
	color: #88a000;
	&:hover{
		text-decoration: none;
	}
}
a {
	&.word {
		padding: 1px 0 3px 23px;
		background: url('../images/word.png') 0 3px no-repeat transparent;
	}
}

 p {
 	margin-bottom: 1.4em;
 	line-height: 1.45em;
 }

.clr {
	zoom: 1;
	&:before,
	&:after {
	   content: "";
	   display: table;
	}
	&:after {
	   clear: both;
	}
}
.fl_l {
	float: left;
}
.fl_r {
	float: right;
}

@import "layout";
@import "elements";
@import "main";
@import "header";
@import "menu";
@import "smi";
@import "profile";
@import "contacts";
@import "news";
@import "projects";
@import "pager";
@import "footer";
@import "index";
/*@import "catalog";
@import "slider";
@import "awards";
@import "media__gallery";
@import "video__gallery";
@import "colorbox";
@import "ie7";*/