html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* normalize.scss v2.1.0 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establish a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements in IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

blockquote {
  /* Set 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0em;
  line-height: Infinityem;
  margin-top: Infinityem;
  margin-bottom: Infinityem;
}

h6 {
  font-size: 0em;
  line-height: Infinityem;
  margin-top: Infinityem;
  margin-bottom: Infinityem;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}

dl {
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: -0.0625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: -0.0625em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: -0.0625em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: -0.0625em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #373737;
}

h1, h2, h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: #88a000;
}

b {
  font-weight: bold;
}

body.index h1 {
  font-size: 25px;
}

body.inner h1, body.inner h2 {
  margin-bottom: 31px;
  letter-spacing: 0.067em;
}
body.inner h1 {
  font-size: 30px;
}
body.inner h2 {
  font-size: 21px;
  margin-bottom: 15px;
}

h1 a, h2 a, h3 a {
  color: #88a000;
  text-decoration: none;
}

a, a:hover {
  color: #88a000;
}
a:hover, a:hover:hover {
  text-decoration: none;
}

a.word {
  padding: 1px 0 3px 23px;
  background: url("../images/word.png") 0 3px no-repeat transparent;
}

p {
  margin-bottom: 1.4em;
  line-height: 1.45em;
}

.clr {
  zoom: 1;
}
.clr:before, .clr:after {
  content: "";
  display: table;
}
.clr:after {
  clear: both;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.body_wrapper {
  position: relative;
  width: 100%;
  min-width: 990px;
  width: auto !important;
  width: 990px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px 110px;
}

body.inner.two_sides .content {
  float: left;
  width: 800px;
  padding-top: 6px;
}
body.inner.two_sides .sidebar {
  width: 160px;
}
body.inner.three_sides .content {
  float: left;
  width: 570px;
  padding-top: 4px;
}
body.inner.three_sides .sidebar {
  width: 160px;
}

.content {
  position: relative;
  padding-top: 5px;
  /*overflow: hidden;*/
}

ul li {
  margin-bottom: .6em;
  line-height: 1.4em;
}
ul.markered {
  padding-left: 30px;
}
ul.markered li {
  padding-left: 20px;
  background: url("../images/marker.gif") 0 10px no-repeat transparent;
}

.topPanel {
  position: relative;
  margin-bottom: -49px;
}
.topPanel.wrap {
  width: 100%;
  background: #004d73;
  overflow: hidden;
}
.topPanel.inner {
  width: 960px;
  height: 17px;
  margin: 0 auto;
  padding: 11px 0 16px;
}
.topPanel.inner a {
  position: relative;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.topPanel.inner a .ico {
  position: absolute;
  top: 1px;
  right: -26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background: url("../images/interface.png") -17px 0 no-repeat transparent;
}
.topPanel .borderBottom {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 25px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0) 0 0 25px;
  width: 100%;
  height: 5px;
  background: #adc90b;
}

h1.link_box {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 18px;
  padding: 9px 0 6px;
  letter-spacing: 0.04em;
  border-bottom: 3px solid;
}
h1.link_box:hover {
  background: #adc90b;
}
h1.link_box:hover {
  left: -10px;
  padding: 9px 10px 6px;
}
h1.link_box:hover a {
  color: #fff;
}

ul.tree {
  margin-left: 25px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}
ul.tree a {
  text-decoration: none;
}
ul.tree a:hover {
  text-decoration: underline;
}
ul.tree > li {
  font-size: 24px;
  line-height: 32px;
}
ul.tree > li > ul {
  margin-left: 30px;
}
ul.tree > li > ul li {
  padding-left: 20px;
  background: url("../images/marker.gif") 0 14px no-repeat transparent;
  font-size: 18px;
  line-height: 30px;
}

.head {
  position: relative;
  height: 135px;
  margin-bottom: 45px;
  background-position: right top;
  background-color: #adc90b;
  background-repeat: no-repeat;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
}
.head .title_block {
  position: relative;
  top: -30px;
  width: 330px;
  height: 110px;
  padding: 75px 0 0 30px;
  background: #adc90b;
  -webkit-box-shadow: 20px 0 40px rgba(0, 0, 0, 0);
  -moz-box-shadow: 20px 0 40px rgba(0, 0, 0, 0);
  box-shadow: 20px 0 40px rgba(0, 0, 0, 0);
  z-index: 3;
}
.head .title_block:after {
  display: block;
  position: absolute;
  top: 48%;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #ADC90B;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.head .title_block h1 {
  display: block;
  margin: 0;
  font-size: 40px !important;
  color: #00340e;
  letter-spacing: 0.05em;
}
.head .breadcrumbs {
  display: block;
  position: relative;
  margin: -5px 0 0;
  padding: 0;
  color: #00340e;
  font-size: 10px;
}
.head .breadcrumbs a {
  color: #00340e;
}
.head .breadcrumbs li {
  margin: 0;
  padding: 0;
  line-height: 1.1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.head .breadcrumbs li.active a {
  text-decoration: none;
  cursor: default;
}
.head img {
  position: absolute;
  top: 0;
  right: 0;
}

.hist_container {
  margin-bottom: 45px;
}
.hist_container .hist_img {
  width: 320px;
  height: 170px;
  background: #adc90b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.hist_container .hist_img .img {
  position: relative;
  top: -5px;
  left: 5px;
  width: 320px;
  height: 170px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.hist_container .hist_img .img img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.hist_container .text {
  margin-top: 12px;
  padding: 0 30px;
  line-height: 14px;
  font-size: 11px;
}

body.inner .job_item {
  margin-top: 53px;
}
body.inner .job_item:first-child {
  margin-top: 0;
}
body.inner .job_item b, body.inner .job_item p {
  margin-left: 79px;
}
body.inner .job_item b {
  display: block;
  margin-bottom: 10px;
}
body.inner .job_item ul {
  margin: 0 0 22px 79px;
}
body.inner .job_item ul li {
  margin: 0;
  padding-left: 17px;
  background: url("../images/marker.gif") 0 10px no-repeat transparent;
  line-height: 20px;
}
body.inner .content .hist_left {
  margin-right: 410px;
}
body.inner .content .hist_right {
  width: 325px;
}

.header {
  margin-top: 90px;
}
.header .logo {
  width: 196px;
  height: 55px;
  margin-bottom: 50px;
}

.top_menu {
  float: right;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.top_menu a {
  display: block;
  color: #373737;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  text-decoration: none;
}
.top_menu ul {
  margin: 0;
  padding: 0;
}
.top_menu ul li {
  float: left;
  display: block;
  margin: 0;
  line-height: 1.2em;
}
.top_menu .first_lvl_menu {
  height: 41px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.top_menu .first_lvl_menu ul {
  margin: 0;
  padding: 0;
}
.top_menu .first_lvl_menu ul li {
  line-height: 1.1em;
}
.top_menu .first_lvl_menu ul li:first-child .first_lvl_menu__item {
  padding-left: 1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.top_menu .first_lvl_menu ul li:first-child .first_lvl_menu__item:hover .container {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.top_menu .first_lvl_menu ul li:first-child .first_lvl_menu__item .container {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.top_menu .first_lvl_menu .first_lvl_menu__item {
  display: block;
  padding: 1px 1px 1px 0;
  text-align: center;
  background: lightgrey;
  background: -moz-linear-gradient(top, lightgrey 79%, #949494 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(79%, lightgrey), color-stop(100%, #949494));
  background: -webkit-linear-gradient(top, lightgrey 79%, #949494 100%);
  background: -o-linear-gradient(top, lightgrey 79%, #949494 100%);
  background: -ms-linear-gradient(top, lightgrey 79%, #949494 100%);
  background: linear-gradient(to bottom, #d3d3d3 79%, #949494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#949494',GradientType=0 );
}
.top_menu .first_lvl_menu .first_lvl_menu__item:hover .container {
  background: #d8d8d8;
  background: -moz-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #fdfdfd));
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -o-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -ms-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: linear-gradient(to bottom, #d8d8d8 0%, #fdfdfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#fdfdfd',GradientType=0 );
}
.top_menu .first_lvl_menu .first_lvl_menu__item.active, .top_menu .first_lvl_menu .first_lvl_menu__item.active .container {
  background: #8eb105;
  background: -moz-linear-gradient(top, #8eb105 0%, #c1d71a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8eb105), color-stop(100%, #c1d71a));
  background: -webkit-linear-gradient(top, #8eb105 0%, #c1d71a 100%);
  background: -o-linear-gradient(top, #8eb105 0%, #c1d71a 100%);
  background: -ms-linear-gradient(top, #8eb105 0%, #c1d71a 100%);
  background: linear-gradient(to bottom, #8eb105 0%, #c1d71a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8eb105', endColorstr='#c1d71a',GradientType=0 );
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 2px 8px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 2px 8px inset;
  box-shadow: rgba(0, 0, 0, 0) 0 2px 8px inset;
}
.top_menu .first_lvl_menu .first_lvl_menu__item .container {
  display: block;
  height: 39px;
  background-color: #fefefe;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFD3D3D3');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #d3d3d3 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #d3d3d3 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #d3d3d3 100%);
  background-image: linear-gradient(top, #fefefe 0%, #d3d3d3 100%);
}
.top_menu .first_lvl_menu .first_lvl_menu__item .container > a {
  padding: 13px 23px 11px;
}
.top_menu .first_lvl_menu .first_lvl_menu__item:hover .second_lvl_menu {
  display: block;
}
.top_menu .first_lvl_menu .first_lvl_menu__item.last,
.top_menu .first_lvl_menu li:last-child .first_lvl_menu__item {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.top_menu .first_lvl_menu .first_lvl_menu__item.last:hover .container,
.top_menu .first_lvl_menu li:last-child .first_lvl_menu__item:hover .container {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.top_menu .first_lvl_menu .first_lvl_menu__item.last .container,
.top_menu .first_lvl_menu li:last-child .first_lvl_menu__item .container {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.top_menu .second_lvl_menu {
  float: right;
  position: relative;
  margin: 20px 0 30px;
}
.top_menu .second_lvl_menu .second_lvl_menu__item {
  margin-left: 6px;
  padding: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.top_menu .second_lvl_menu .second_lvl_menu__item:hover, .top_menu .second_lvl_menu .second_lvl_menu__item.active {
  background: #607803;
  background: -moz-linear-gradient(top, #607803 0%, #85a205 13%, #ccdb54 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #607803), color-stop(13%, #85a205), color-stop(100%, #ccdb54));
  background: -webkit-linear-gradient(top, #607803 0%, #85a205 13%, #ccdb54 100%);
  background: -o-linear-gradient(top, #607803 0%, #85a205 13%, #ccdb54 100%);
  background: -ms-linear-gradient(top, #607803 0%, #85a205 13%, #ccdb54 100%);
  background: linear-gradient(to bottom, #607803 0%, #85a205 13%, #ccdb54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#607803', endColorstr='#ccdb54',GradientType=0 );
}
.top_menu .second_lvl_menu .second_lvl_menu__item:hover a, .top_menu .second_lvl_menu .second_lvl_menu__item.active a {
  background: #85a205;
  background: -moz-linear-gradient(top, #85a205 0%, #ccdb54 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85a205), color-stop(100%, #ccdb54));
  background: -webkit-linear-gradient(top, #85a205 0%, #ccdb54 100%);
  background: -o-linear-gradient(top, #85a205 0%, #ccdb54 100%);
  background: -ms-linear-gradient(top, #85a205 0%, #ccdb54 100%);
  background: linear-gradient(to bottom, #85a205 0%, #ccdb54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85a205', endColorstr='#ccdb54',GradientType=0 );
  -webkit-box-shadow: inset 0 2px 1px #7e9e04;
  -moz-box-shadow: inset 0 2px 1px #7e9e04;
  box-shadow: inset 0 2px 1px #7e9e04;
}
.top_menu .second_lvl_menu .second_lvl_menu__item a {
  display: block;
  padding: 9px 13px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.smi_wrap {
  margin-bottom: 56px;
}
.smi_wrap .item {
  margin-top: 47px;
}
.smi_wrap .item:first-child {
  margin-top: 0;
}
.smi_wrap .item .topic_title {
  width: 210px;
  margin-top: 33px;
}
.smi_wrap .item .topic_title time {
  display: block;
  margin-top: 8px;
  font-size: 11px;
}
.smi_wrap .item .topic {
  margin-right: 240px;
  padding-right: 60px;
  border-right: 1px dotted #c1c1c1;
}
.smi_wrap .item .topic h2 {
  margin-bottom: 12px;
}

.personal_cards.people {
  width: 100%;
}
.personal_cards.people .profile {
  margin-top: 40px;
  overflow: hidden;
}
.personal_cards.people .profile:first-child {
  margin-top: 0;
}
.personal_cards.people .profile .profile_image {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.personal_cards.people .profile .profile_image img {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.personal_cards.people .profile .profile_content {
  margin-left: 209px;
  padding-top: 17px;
}
.personal_cards.people .profile .profile_content .profa {
  margin: 6px 0;
  font-size: 12px;
}
.personal_cards.people .profile .profile_content .info {
  margin-top: 14px;
}
.personal_cards.people .profile .profile_content .info p {
  margin-top: 0;
  line-height: 20px;
}
.personal_cards.people .profile .profile_content h2 {
  margin: 0;
  line-height: 1em;
}

.contacts_wrap .profile:first-child {
  margin-top: 40px !important;
}
.contacts_wrap .profile .more_info {
  display: block;
  margin-bottom: 7px;
  line-height: 1em;
  font-size: 12px;
}

.contacts_wrap .card h2 {
  font-size: 21px !important;
  margin-bottom: 20px;
}
.contacts_wrap .map_wrap {
  width: 960px;
  height: 472px;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.news_wrap {
  position: relative;
  width: 650px;
}
.news_wrap .news-detail-share {
  position: absolute;
  top: 20px;
  right: 0;
}
.news_wrap .news_item {
  overflow: hidden;
  margin-bottom: 60px;
  padding-top: 5px;
}
.news_wrap .news_item .news_image {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  background: #adc90b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.news_wrap .news_item .news_image .img {
  position: relative;
  top: -5px;
  left: 5px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.news_wrap .news_item .news_image .img img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.news_wrap .news_item time {
  display: block;
  font-size: 11px;
  margin: 0;
}
.news_wrap .news_item .news_body {
  margin-left: 160px;
}
.news_wrap .news_item .news_title {
  font-size: 21px;
  margin: 0;
  line-height: 1em;
}
.news_wrap .news_item .preview_image {
  float: right;
  margin: 7px 0 20px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.news_wrap .news_item p {
  margin: 1em 0;
}

.status {
  position: absolute;
  padding-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}
.status.inprogress .ico {
  background: url("../images/status.png") no-repeat transparent;
}
.status .ico {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../images/status.png") no-repeat transparent;
}

.projects_wrap {
  width: 1018px;
}
.projects_wrap .project_item {
  float: left;
  position: relative;
  width: 450px;
  margin: 0 59px 50px 0;
  padding-top: 5px;
  overflow: hidden;
}
.projects_wrap .project_item .project_img {
  float: left;
  position: relative;
  width: 210px;
  height: 140px;
  background: #adc90b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.projects_wrap .project_item .project_img .img {
  position: relative;
  top: -5px;
  left: 5px;
  width: 210px;
  height: 140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.projects_wrap .project_item .project_img .img img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.projects_wrap .project_item .project_body {
  margin-left: 235px;
}
.projects_wrap .project_item .project_body h2 {
  margin: 0;
  padding-top: 1.1em;
  line-height: 1.1em;
  font-size: 18px;
}
.projects_wrap .project_item .project_body .status {
  bottom: 0;
}
.projects_wrap .project_item .project_body .status.inprogress .ico {
  background-position: right top;
}
.projects_wrap .project_item .project_body .status .ico {
  background-position: left top;
}

.project_wrap > h1 {
  display: block;
  margin-top: 0;
}
.project_wrap .project_left {
  width: 480px;
  margin-bottom: 40px;
}
.project_wrap .project_right {
  margin-left: 530px;
  margin-bottom: 40px;
}
.project_wrap .project_text {
  width: 100%;
  overflow: hidden;
}
.project_wrap .project_text img {
  margin: 0 40px 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.project_wrap .project_text h1 {
  margin: 0 0 .6em;
}
.project_wrap .project_text h2 {
  margin: 0 0 .5em;
}
.project_wrap .project_text p {
  margin-top: .5em;
}
.project_wrap .project_text a {
  color: #00340e;
}
.project_wrap .project_text ul {
  margin: 0;
  padding: 0;
}
.project_wrap .project_text ul li {
  padding: 0;
}

.project_gallery #loader {
  position: absolute;
  top: 44%;
  left: 46.5%;
  width: 30px;
  height: 30px;
  background: url("../images/loader.gif") center center no-repeat transparent;
  text-indent: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: 20;
}
.project_gallery .big_img {
  position: relative;
  left: -5px;
  width: 480px;
  height: 300px;
  background: #adc90b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.project_gallery .big_img .img {
  position: relative;
  top: -5px;
  left: 5px;
  width: 480px;
  height: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #eee;
}
.project_gallery .big_img .img img {
  width: 480px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.project_gallery .big_img .img .status {
  bottom: 30px;
  right: 0;
  width: 70px;
  height: 32px;
  padding: 8px 0 0 40px;
  background: #adc90b;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: inset -3px 0 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset -3px 0 10px rgba(0, 0, 0, 0);
  box-shadow: inset -3px 0 10px rgba(0, 0, 0, 0);
}
.project_gallery .big_img .img .status.inprogress .ico {
  background-position: right bottom;
}
.project_gallery .big_img .img .status .ico {
  left: 8px;
  background-position: left bottom;
}
.project_gallery .thumbs {
  position: relative;
  left: -3px;
  width: 492px;
  margin: 25px 0 0;
  padding: 0;
}
.project_gallery .thumbs .thumbs_item {
  float: left;
  position: relative;
  display: block;
  width: 110px;
  height: 70px;
  margin: 0 13px 13px 0;
  padding: 0;
  background: #adc90b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.project_gallery .thumbs .thumbs_item .img {
  display: block;
  position: relative;
  top: -3px;
  left: 3px;
  width: 110px;
  height: 70px;
  background: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.project_gallery .thumbs .thumbs_item .img img {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.naidy_pager {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  color: #fff;
}
.naidy_pager ul {
  margin: 0;
  padding: 0;
}
.naidy_pager ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 8px;
  line-height: 1.1em;
}
.naidy_pager ul li.active {
  background: #adc90b;
}
.naidy_pager ul li.active a, .naidy_pager ul li.active span {
  color: #fff;
}
.naidy_pager ul li.next, .naidy_pager ul li.prev {
  padding: 0;
}
.naidy_pager ul li.next a, .naidy_pager ul li.prev a {
  display: block;
  width: 7px;
  height: 12px;
  background: url("../images/interface.png") no-repeat transparent;
  text-indent: 100px;
  overflow: hidden;
}
.naidy_pager ul li.next {
  padding-left: 11px;
}
.naidy_pager ul li.next a {
  background-position: -8px 0;
}
.naidy_pager ul li.prev {
  padding-right: 11px;
}
.naidy_pager ul li.prev a {
  background-position: 0 0;
}
.naidy_pager ul li a {
  text-decoration: none;
}

.footer.wrap {
  position: relative;
  width: 100%;
  min-width: 980px;
  height: 63px;
  margin-top: -63px;
  background: #adc90b;
  overflow: hidden;
}
.footer.inner {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 11px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}
.footer.inner p {
  margin: 0;
  line-height: 1.55em;
}
.footer.inner p:first-child {
  padding-top: 15px;
}
.footer.inner a {
  color: #fff;
  text-decoration: none;
}

body.index {
  background: #adc90b;
  color: #00340e;
}
body.index h1, body.index h2, body.index h3, body.index h4, body.index a {
  color: #00340e;
}
body.index .topPanel.wrap, body.index .wrapper {
  z-index: 4;
}
body.index .wrapper {
  padding-bottom: 110px;
}
body.index .content {
  position: relative;
  height: 525px;
}
body.index .content .title_wrap {
  position: absolute;
  top: 20%;
  left: 0;
  width: 200px;
}
body.index .content .title_wrap .dev_title {
  display: inline;
  padding: 6px 10px;
  background: #fff;
  line-height: 1.6em;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
}
body.index .content .title_wrap .dev_title a {
  text-decoration: none !important;
}
body.index .content .slide_control {
  position: absolute;
  left: 0;
  bottom: 30px;
  background: #fdfdfd;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
}
body.index .content .slide_control .slide_wrapper {
  width: 560px;
  height: 80px;
  margin-top: -10px;
  padding-top: 10px;
  overflow: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
body.index .content .slide_control .slide_list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 80px;
}
body.index .content .slide_control .slide_list .slide_list__item {
  float: left;
  display: block;
  position: relative;
  width: 139px;
  height: 78px;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #d7d7d7;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
body.index .content .slide_control .slide_list .slide_list__item.active:after {
  display: block;
  position: absolute;
  width: 16px;
  height: 10px;
  top: -9px;
  left: 50%;
  margin-left: -8px;
  background: url("../images/interface.png") 0 -13px no-repeat transparent;
  content: "";
}
body.index .content .slide_control .slide_list .slide_list__item.active .container {
  height: 80px;
  margin: -1px 0;
  background: #8fb205 !important;
  background: -moz-linear-gradient(top, #8fb205 0%, #c1d71a 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fb205), color-stop(100%, #c1d71a)) !important;
  background: -webkit-linear-gradient(top, #8fb205 0%, #c1d71a 100%) !important;
  background: -o-linear-gradient(top, #8fb205 0%, #c1d71a 100%) !important;
  background: -ms-linear-gradient(top, #8fb205 0%, #c1d71a 100%);
  background: linear-gradient(to bottom, #8fb205 0%, #c1d71a 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fb205', endColorstr='#c1d71a',GradientType=0 ) !important;
  border-right: 1px solid #8aa606;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
}
body.index .content .slide_control .slide_list .slide_list__item.active .container a {
  cursor: default;
}
body.index .content .slide_control .slide_list .slide_list__item .container {
  display: block;
  height: 78px;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d8d8d8',GradientType=0 );
}
body.index .content .slide_control .slide_list .slide_list__item .container:hover {
  background: #d8d8d8;
  background: -moz-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #fdfdfd));
  background: -webkit-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -o-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: -ms-linear-gradient(top, #d8d8d8 0%, #fdfdfd 100%);
  background: linear-gradient(to bottom, #d8d8d8 0%, #fdfdfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#fdfdfd',GradientType=0 );
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
body.index .content .slide_control .slide_list .slide_list__item .container a {
  display: block;
  width: 119px;
  height: 65px;
  padding-top: 14px;
  padding-left: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
body.index .content .slide_control .slide_btn {
  position: absolute;
  top: 0;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
body.index .content .slide_control .slide_btn.inactive {
  cursor: default;
}
body.index .content .slide_control .slide_btn.left {
  left: -30px;
  width: 30px;
  background: #b6cf12;
  background: -moz-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6cf12), color-stop(100%, #9fbe08));
  background: -webkit-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -o-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -ms-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: linear-gradient(to bottom, #b6cf12 0%, #9fbe08 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6cf12', endColorstr='#9fbe08',GradientType=0 );
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body.index .content .slide_control .slide_btn.left .ico {
  left: 43%;
}
body.index .content .slide_control .slide_btn.right {
  right: -45px;
  width: 45px;
  background: #b6cf12;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body.index .content .slide_control .slide_btn.right .ico {
  left: 37%;
  background-position: right 0;
}
body.index .content .slide_control .slide_btn .ico {
  display: block;
  position: absolute;
  top: 50%;
  width: 9px;
  height: 33px;
  margin-top: -16px;
  background: url("../images/gallery_arrows.png") left 0 no-repeat transparent;
}
body.index .content .slide_control.rounded .slide_btn.right {
  right: -30px;
  width: 30px;
  background: #b6cf12;
  background: -moz-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6cf12), color-stop(100%, #9fbe08));
  background: -webkit-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -o-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: -ms-linear-gradient(top, #b6cf12 0%, #9fbe08 100%);
  background: linear-gradient(to bottom, #b6cf12 0%, #9fbe08 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6cf12', endColorstr='#9fbe08',GradientType=0 );
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body.index .content .slide_control.rounded .slide_btn.right .ico {
  left: 35%;
}
body.index .content .about_dev_project {
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 360px;
  background: #b6cf12;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -4px -4px 14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px -4px 14px rgba(0, 0, 0, 0.2);
  box-shadow: -4px -4px 14px rgba(0, 0, 0, 0.2);
}
body.index .content .about_dev_project .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  background: url("../images/interface.png") -34px 0 no-repeat transparent;
  text-indent: 100px;
  overflow: hidden;
  cursor: pointer;
  z-index: 30;
}
body.index .content .about_dev_project .close:hover {
  background-position: -53px 0;
}
body.index .content .about_dev_project .about_dev_text {
  position: relative;
  top: -5px;
  left: 5px;
  padding: 20px 30px 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
body.index .content .about_dev_project .about_dev_text h3 {
  margin: 0.4em 0 -0.1em;
  font-size: 34px;
}
body.index .news_content {
  width: 960px;
  margin: 0 auto;
}
body.index .news_content h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-bottom: 2px;
  line-height: 1em;
  font-size: 34px;
  border-bottom: 1px solid #799c0c;
}
body.index .news_content .news_item {
  float: left;
  width: 270px;
  margin-left: 75px;
}
body.index .news_content .news_item:first-child {
  margin-left: 0;
}
body.index .news_content .news_item p {
  margin: 0;
}
body.index .news_content .news_item time {
  display: block;
  margin-top: 14px;
  color: #fff;
  font-size: 11px;
}
body.index .footer.wrap {
  background: #fff;
}
body.index .footer.inner {
  color: #00340e;
}
body.index .index_slider_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  background: #eee;
  overflow: hidden;
}
body.index .index_slider_wrap img {
  width: 100%;
}
body.index .title_wrap {
  position: absolute;
  top: 40%;
  width: 300px !important;
}
body.index .title_wrap .dev_title {
  display: block !important;
  padding: 0 !important;
  background: transparent !important;
  line-height: 1.5em !important;
}
body.index .title_wrap .dev_title span {
  display: inline-block;
  position: relative;
  margin-right: -10px;
  padding: 0 10px;
  background: #fff;
}

/*@import "catalog";
@import "slider";
@import "awards";
@import "media__gallery";
@import "video__gallery";
@import "colorbox";
@import "ie7";*/
